@media (max-width: 700px) {
    .app {
        width: 500px;
    }
}
@media (max-width: 540px) {
    .app {
        width: 400px;
    }
}
@media (max-width: 443px) {
    .app {
        width: 300px;
    }
}
@media (max-width: 300px) {
    .app {
        width: 200px;
    }
}
