@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #99b67c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: Montserrat;
}
.app {
    background-color: #7fa05f;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
}
.counter, .percent-counter {
    background-color: #70924f;
    padding: 10px;
    border-radius: 10px;
}
.percent-counter {
    background-color: #628340;
    margin-top: 10px;
}